h1 {
  padding-left: 15px;
}

hr {
  margin: 5px;
  margin-bottom: 20px;
}

.box {
  padding-left: 24px;
  padding-top: 18px;

  .question {
    font-size: 1.3em;
    margin-bottom: 5px;
  }

  hr {
    margin-bottom: 10px;
  }

  .edit {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.editor {
  margin: 5px 100px 10px 25px;
}

#form-sheet {
  .add {
    margin-left: 28px;
    margin-top: 10px;
    padding: 5px 10px;
  }
}