h1 {
  padding-left: 15px;
}

hr {
  margin: 5px;
  margin-bottom: 20px;
}

.box {
  padding-left: 24px;
  padding-top: 18px;

  hr {
    margin-bottom: 10px;
  }
  .description {
    margin-bottom: 5px;
    margin-left: 15px;
    color: gray;
  }
  .question {
    font-size: 1.3em;
  }
  .edit {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.editor {
  width: 700px;
  margin: 5px 100px 10px 25px;

  form > label {
    margin-bottom: 0px;
  }
  .form-group {
    margin-bottom: 8px;
  }
  .input-group:nth-child(n+1) {
    margin-top: 4px;
  }
}

#form-sheet {
  .add {
    margin-left: 28px;
    margin-top: 10px;
    padding: 5px 10px;
  }
}